@import url('https://fonts.googleapis.com/css2?family=Acme&family=Edu+SA+Beginner:wght@400;700&family=Fjalla+One&family=Inconsolata:wght@200&family=Lobster&family=Roboto:wght@400;500&family=Shadows+Into+Light&family=Victor+Mono:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --tamanhoFonteTitulo: 28px
}

body {
  height: 100%;
  font-family: 'Acme', sans-serif;
  background-size: cover;
}




/* ------- TUDO O QUE ESTÁ NO HEADER ------ */

header {
  padding-top: 20px;
  background-image: url('https://images.unsplash.com/flagged/photo-1593005510329-8a4035a7238f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid black;
}

#tituloQuiz {
  text-align: center;
  font-size: 100px;
  font-family: 'Lobster', cursive;
  color: rgba(0, 0, 0, 0.932);
}

.esconde {
  display: none;
}

.audio-botao {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#modo-escuro {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
  background-color: #fbef0c;
  color: #000000;
  margin-bottom: 15px;
  transition: 0.5s;
}

#modo-escuro:hover {
  box-shadow: 5px 5px 20px black;
  transition: 0.5s;
}

/* ------- TUDO O QUE ESTÁ NO HEADER ------ */






/* ------- TUDO SOBRE MODO ESCURO ------ */



.dark {
  color: #000000;
  background-color: #1c1c1c;
}

.dark header {
  background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?q=10&h=200');
}

.dark #tituloQuiz {
  color: white;
}

.dark #modo-escuro {
  background-color: #121212;
  color: aliceblue;
}

.dark .audio-botao {
  color: white;
}

.dark h1,
.dark h2 {
  color: white;
}

.dark #usuario p,
.dark #usuario label {
  color: white;
}

/* ------- TUDO SOBRE MODO ESCURO ------ */





/* ------- TUDO O QUE ESTÁ NA PARTE DE USUÁRIO ------ */

#tema,
#nome {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

#tema {
  width: 150px;
}

#nome {
  width: 300px;
}

#usuario {
  text-align: center;
}

#usuario h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 60px;
}

#usuario p {
  font-size: 35px;
  margin-bottom: 30px;
}

.label-input {
  font-size: 30px;
}

.label-input label {
  margin: 0 10px;
}

#iniciarQuiz {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
  background-color: #fbef0c;
  color: #000000;
  margin-left: 25px;
  transition: 0.5s;
}

#iniciarQuiz:hover {
  box-shadow: 5px 5px 20px black;
  transition: 0.5s;
}



/* ------- TUDO O QUE ESTÁ NA PARTE DE USUÁRIO ------ */





/* ------- TUDO SOBRE CRONÔMETRO ------ */

/* Estilo para o container do cronômetro */
.cronometro {
  position: fixed;
  top: 220px;
  right: 20px;
  width: 200px;

  /* Ajuste o tamanho do cronômetro conforme desejado */
}

/* Estilo para a imagem do cronômetro */
.cronometro img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;

}

/* Estilo para o timer dentro do cronômetro */
.cronometro .timer {
  font-family: 'Victor Mono', monospace;
  margin-top: 17px;
  font-size: 26px;
  /* Ajustado para diminuir em 3px */
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------- TUDO SOBRE CRONÔMETRO ------ */





/* ------- TUDO SOBRE PERGUNTAS ------ */

#perguntas {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divPergunta {
  padding: 20px 20px;
  margin: 30px 0;
  width: 70%;
  box-shadow: 10px 10px 20px black;
  background-color: #F2D700;
}

.divPergunta h3 {
  padding-bottom: 10px;
  font-size: var(--tamanhoFonteTitulo);
}

.divPergunta label {
  max-width: max-content;
  font-size: 23px
}

.inputs {
  display: flex;
  flex-direction: column;
}

.divPergunta div {
  padding: 10px 0 0;
}

.divPergunta input {
  margin-right: 10px;
}

.respostaCorreta {
  background-color: rgba(11, 152, 11, 0.952);
}

.respostaErrada {
  background-color: red;
}

.btnPerguntas {
  width: 70%;
  display: flex;
  justify-content: space-evenly;

}

/* ------- TUDO SOBRE PERGUNTAS ------ */





/* ------- TUDO SOBRE BOTÕES FINALIZAR E REINICIAR ------ */

#finaliza {
  border-color: #f1c40f;
  color: black;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  width: 150px;
  height: 60px;
  margin: 20px 0;
}

#finaliza:hover {
  background-position: 0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#reinicia {
  border-color: #f1c40f;
  color: black;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  width: 150px;
  height: 60px;
  margin: 20px 0;
}

#reinicia:hover {
  background-position: 0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* ------- TUDO SOBRE BOTÕES FINALIZAR E REINICIAR ------ */





/* ------- TUDO SOBRE RANKING ------ */

#resultados {
  text-align: center;
}

.tabelaEstilos {
  transition: 0.3s;
  transform: scale(0.9);
}

.tabelaEstilos:hover {
  transform: scale(1);
  box-shadow: 6px 6px 30px black;
}

.tabelaEstilos,
.tabelaEstilos th,
.tabelaEstilos td,
.tabelaEstilos tr {
  padding: 20px;
  text-align: center;
  background-color: #F2D700;
  border-collapse: collapse;
  font-size: 30px;
}

#resultados {
  margin-top: 30px;
  font-size: 30px;

}

#tabela-resultados {
  margin: auto;
}

.tabelas-medias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tabelas-rankings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}


/* ------- TUDO SOBRE RANKING ------ */

/* -------- ESTILIZAÇÃO DO FOOTER ------ */
footer {
  text-align: right;
  color: #3a3733
}
/* -------- ESTILIZAÇÃO DO FOOTER ------  */
